.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  /* position: relative; */
}

.viewButtons {
  display: flex;
  padding-top: 50px;
  justify-content: flex-end;
}

.refreshButton {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.layoutContainer {
  margin: 0 15vw;
}

.styledButton {
  background-color: rgb(142, 135, 146);
  font: inherit;
  color: white;
  border: 2px solid transparent;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}

.styledButton:focus {
  outline: 0;
}

@media only screen and (max-width: 800px) {
  .imagesContainer {
    display: inline;
  }
}
